body {
  background-color : #E1DAC3;
  font-size        : medium;
  font-family      : "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
h1 {
  color            : #333333;
  font-size        : x-large;
  margin           : 0;
}
p {
  margin           : 0;
}
textarea {
  font-size        : 16px;
}
button {
  color            : #FFFFFF;
  background-color : #336633;
  border           : none;
  border-radius    : 0.3rem;
  font-size        : large;
  width            : auto;
  padding          : 0.5rem 1rem;
}
.button-group{
  padding-top      : 0.3rem;
  padding-bottom   : 0.3rem;
}
